node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.sst
dist
node_modules
Pulumi.*.yaml
Pulumi.yaml

# osx
.DS_Store

# Local Netlify folder
.netlify
.env
tmp
.termai
.opencode