.navbar {
    max-width: 240px;
    min-width: 144px;
    height: calc(100vh - 1rem);
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    .logo {
        z-index: 1;
        width: 100%;
        height: auto;
    }

    .hrefs {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.25em;

        .header_href {
            display: inline-block;
            width: 100%;
            color: var(--main-font);
            text-decoration: none;
            background-color: var(--secondary-bg-color);
            padding: 5px;
            height: fit-content;
            overflow: hidden;
            white-space: nowrap;

            .shimmer {
                background-image: repeating-linear-gradient(to left,
                        var(--sealpoint-red),
                        var(--sealpoint-red),
                        var(--sealpoint-red-light),
                        var(--sealpoint-red),
                        var(--sealpoint-red));
                background-size: 300% 100%;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                animation: shimmer 10s linear infinite;
            }

            &:hover {
                -webkit-text-stroke: 0.01rem var(--sealpoint-red-secondary);

                h4:after {
                    content: '';
                    width: 1rem;
                    height: 1rem;
                    background-image: url('/Logo.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                    display: inline-block;
                    left: 0.2rem;

                    @media (prefers-color-scheme: light) {
                        background-image: url('/Logo_Black.svg');
                    }
                }
            }
        }
    }

    .filler {
        z-index: 0;
        width: 100%;
        height: 100%;
        background-image: url('/grad.png');
        background-size: cover;
        background-repeat: no-repeat;
        // background-position: 50%;
    }

    .hamburger {
        z-index: 1;
        display: none;
    }
}

@media (max-width: 1000px) {
    .navbar {
        position: sticky;
        top: 0;
        flex-direction: row;
        height: 120px;
        width: 100vw;
        max-width: 100vw;

        .logo {
            height: 100%;
            width: auto;
        }

        .hrefs {
            position: absolute;
            height: fit-content;
            top: 120px;

            &.hidden {
                display: none;
            }
        }

        .filler {
            position: absolute;
            height: 120px;
            width: 100%;
            background-position: 50% 50%;
        }

        .hamburger {
            display: inline;
            position: absolute;
            right: 0;
        }
    }
}

/* Bounce animation */
@keyframes bounce {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Shimmer animation */
@keyframes shimmer {
    0% {
        background-position: -150% 50%;
    }

    50% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 150% 50%;
    }
}