.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    height: calc(100vh - 600px);
    margin: 60px;
  }

  .spotify {
    margin-top: 25px;
    width: 50%;
    height: 352px;
  }
}

@media screen and (max-width: calc(100vh - 270px)) {
  .logo {
    width: 90%;
    height: auto !important
  }
}