:root {
  --main-font-color: #EBEBEB;
  --primary-bg-color: #1A1A1A;
  --secondary-bg-color: #2A2A2A;
  --anti-bg-color: #EBEBEB;
  --anti-font-color: #1A1A1A;
  --sealpoint-red: #C9203E;
  --sealpoint-red-secondary: #9F0005;
  --sealpoint-red-light: #BD5266;
  --background-img: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/concrete_wall.png');

  font-family: var(--font-futura);
  font-size: 16px;
  -webkit-text-stroke: 0.005rem var(--sealpoint-red-secondary);
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.34em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.66em;
}

h6 {
  font-size: 1.33em;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-rubik-distressed);
  font-variant: small-caps;
}

li {
  margin-left: 1em;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: var(--background-img);
  background-size: 400px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--main-font-color);
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar-track {
  background-color: #363636;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #505050;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font-color: #1A1A1A;
    --primary-bg-color: #EBEBEB;
    --secondary-bg-color: #F8F8F8;
    --anti-bg-color: #1A1A1A;
    --anti-font-color: #EBEBEB;
    --background-img: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/concrete_wall_2.png');
  }
}