.main {
    display: flex;
    flex-direction: row;
    gap: 10px;


    .content {
        height: calc(100vh - 2rem);
        overflow: scroll;
        min-width: 760px;
    }

    @media (max-width: 1000px) {
        flex-direction: column;

        .content {
            height: calc(100vh - 2rem);
            overflow: scroll;
            min-width: 0px;
        }

    }
}